.geo-state {
    fill: #ECEFF1;
    outline: none;
    stroke: #26771B;
    stroke-width: 0.6;

  &.clickable {
    cursor: pointer;
  }

  &.clickable:hover {
    fill: #A4D0A2;
    outline: none;
    cursor: pointer;
  }

  &.clickable:active {
    fill: #4FA153;
    outline: none;
    cursor: pointer;
  }
}

.map-tooltip {
  position: fixed;
  background: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  pointer-events: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 1000;
}